networks:
  microservices_network:
    driver: bridge
services:
  controller-0:
    build:
      context: /home/int2/Workspace/gr/alpasim
      dockerfile: Dockerfile
      tags:
        - alpasim-base:0.1.3
    command:
      - -c
      - uv run python -m alpasim_controller.server --port=6003 --log_dir=/mnt/output
        --log-level=INFO
    entrypoint: bash
    image: alpasim-base:0.1.3
    network_mode: host
    ports:
      - 6003:6003
    profiles:
      - sim
    pull_policy: missing
    volumes:
      - /home/int2/Workspace/gr/alpasim/run_distributed/controller:/mnt/output
      - /home/int2/Workspace/gr/alpasim/src:/repo/src
  driver-0:
    build:
      context: /home/int2/Workspace/gr/alpasim
      dockerfile: Dockerfile
      tags:
        - alpasim-base:0.1.3
    command:
      - -c
      - uv run -m alpasim_driver.main --config-path=/mnt/output --config-name=driver-config.yaml
        host=0.0.0.0 port=6000
    deploy:
      resources:
        reservations:
          devices:
            - capabilities:
                - gpu
              device_ids:
                - '0'
              driver: nvidia
    entrypoint: bash
    image: alpasim-base:0.1.3
    network_mode: host
    ports:
      - 6000:6000
    profiles:
      - sim
    pull_policy: missing
    volumes:
      - /home/int2/Workspace/gr/alpasim/data/drivers:/mnt/drivers
      - /home/int2/Workspace/gr/alpasim/run_distributed:/mnt/output
      - /home/int2/Workspace/gr/alpasim/src:/repo/src
      - /home/int2/.cache/huggingface:/root/.cache/huggingface
  physics-0:
    build:
      context: /home/int2/Workspace/gr/alpasim
      dockerfile: Dockerfile
      tags:
        - alpasim-base:0.1.3
    command:
      - -c
      - uv run physics_server --host=0.0.0.0 --port=6002 --artifact-glob=/mnt/nre-data/scenesets/2ecd7b86f6a864127b8bbecbff539872/**/*.usdz
        --use-ground-mesh=true --cache-size=16 --log-level=INFO
    deploy:
      resources:
        reservations:
          devices:
            - capabilities:
                - gpu
              device_ids:
                - '0'
              driver: nvidia
    entrypoint: bash
    environment:
      - WARP_CACHE_PATH='/mnt/warp'
    image: alpasim-base:0.1.3
    network_mode: host
    ports:
      - 6002:6002
    profiles:
      - sim
    pull_policy: missing
    volumes:
      - /home/int2/Workspace/gr/alpasim/data/nre-artifacts:/mnt/nre-data
      - /home/int2/Workspace/gr/alpasim/src:/repo/src
  runtime-0:
    build:
      context: /home/int2/Workspace/gr/alpasim
      dockerfile: Dockerfile
      tags:
        - alpasim-base:0.1.3
    command:
      - -c
      - uv run python -m alpasim_runtime.simulate --usdz-glob=/mnt/nre-data/scenesets/2ecd7b86f6a864127b8bbecbff539872/**/*.usdz
        --user-config=/mnt/log_dir/generated-user-config-0.yaml --network-config=/mnt/log_dir/generated-network-config.yaml
        --log-dir=/mnt/log_dir --log-level=INFO --array-job-dir=/mnt/array_job_dir
        --eval-config=/mnt/log_dir/eval-config.yaml
    deploy:
      resources:
        reservations:
          devices:
            - capabilities:
                - gpu
              count: all
              driver: nvidia
    entrypoint: bash
    image: alpasim-base:0.1.3
    network_mode: host
    pid: host
    profiles:
      - sim
    pull_policy: missing
    volumes:
      - /home/int2/Workspace/gr/alpasim/data/nre-artifacts:/mnt/nre-data
      - /home/int2/Workspace/gr/alpasim/run_distributed:/mnt/log_dir
      - /home/int2/Workspace/gr/alpasim/run_distributed:/mnt/array_job_dir
      - /home/int2/Workspace/gr/alpasim/src:/repo/src
  sensorsim-0:
    command:
      - -c
      - /app/pycena_run.runfiles/nre_repo/scripts/pycena/runtime/entrypoint_3_11.sh
        --port=6001 --host=0.0.0.0 --artifact-glob=/mnt/nre-data/scenesets/2ecd7b86f6a864127b8bbecbff539872/**/*.usdz
        --egocar-hood-dir=/mnt/ego-hoods --no-enable-nrend --download-cache-dir /tmp/nre-cache-dir
        --cache-size=4
    deploy:
      resources:
        reservations:
          devices:
            - capabilities:
                - gpu
              device_ids:
                - '0'
              driver: nvidia
    entrypoint: bash
    environment:
      - OMP_NUM_THREADS=1
    image: docker.io/carlasimulator/nvidia-nurec-grpc:0.2.0
    network_mode: host
    ports:
      - 6001:6001
    profiles:
      - sim
    pull_policy: missing
    volumes:
      - /home/int2/Workspace/gr/alpasim/data/nre-artifacts:/mnt/nre-data
      - /home/int2/Workspace/gr/alpasim/data/nre-artifacts/ego-hoods:/mnt/ego-hoods
